.example-card {
  max-width: 400px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.009);
}

.course-select{
  border: solid 2px rgba(0, 0, 0, 0.119);
  display: flex;
  justify-content: center;
  margin: 15px;
  background-color:rgba(0, 0, 0, 0.119)
}

.mat-card-image{
  width: 100%;

}

.button{
  min-width: 100px;
}