//resets css for all content first
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


#main-card-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.button{
    background-color: rgba(0, 115, 255, 0.447);
    margin: 5px;
    font-size: 12px;
    text-align: center;
}

.formfield{
    max-height: 20px;
    text-align: center;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field td{
    border: none;
    text-align: center;
    justify-content: center;
    
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 375px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td {
    border: solid thin black;
    text-align: center;
}

.hole-row {
    background-color: #009879;
    color: #ffffff;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

img{
    max-width: 375px;
}

input{
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 0;
    display: flex;
    border: none;
    background: transparent;
    outline: none;
    
}

#player1{
    background-color: rgba(0, 251, 255, 0.379);
}

#player2{
    background-color: rgba(165, 75, 47, 0.379);
}
#player3{
    background-color: rgba(86, 165, 47, 0.379);
}
#player4{
    background-color: rgba(165, 161, 47, 0.379);
}
.addPlayer{
    display:flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    #main-card-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

}