#main-card-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.button{
    background-color: rgba(0, 115, 255, 0.447);
    margin: 5px
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 375px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%
}

td {
    padding: 4px 5px;
    border: solid thin black;
    text-align: center;
}

.hole-row {
    background-color: #009879;
    color: #ffffff;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

img{
    max-width: 375px;
}
@media screen and (max-width: 800px) {
    #main-card-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }